.main-container {
  text-align: center;
}

.my-journey-heading {
  font-size: 18px;
  font-size: 'Roboto';
  color: #171f46;
  margin-top: 20px;
}

.ccbp-heading {
  font-size: 25px;
  font-size: 'Roboto';
  color: #171f46;
  margin-top: 0px;
}
